<?xml version="1.0"?>
<robot name="predator">
    <link name="predator_link">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="100" />
      <!-- <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" /> -->
    </inertial>
    <visual>
      <!-- <origin xyz="0 0 0" rpy="1.5707963267948966 0 1.5707963267948966" /> -->
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 -1.5707963267948966" />
      <geometry>
        <!-- <mesh filename="/home/user/my_python_test/nvidia_isaac/test_isaacgym/assets/urdf/uav/meshes/m200.obj"  scale="2.0 2.0 2.0"/> -->
        <mesh filename="package://uav/meshes/predator.obj" scale="2.0 2.0 2.0"/>
      </geometry>
      <!-- <material name="slider_mat">
        <color rgba="0.9 0.6 0.2 1"/>
      </material> -->
    </visual>
    <collision>
      <!-- <origin xyz="0 0 0" rpy="1.5707963267948966 0 1.5707963267948966" /> -->
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 -1.5707963267948966" />
      <geometry>
        <!-- <mesh filename="/home/user/my_python_test/nvidia_isaac/test_isaacgym/assets/urdf/uav/meshes/m200.obj" scale="2.0 2.0 2.0"/> -->
        <mesh filename="package://uav/meshes/predator.obj" scale="2.0 2.0 2.0"/>
      </geometry>
    </collision>
  </link>

</robot>
